# Arquivos compilados
*.class

# Logs
*.log

# Arquivos temporários
*.tmp
*.swp
*.bak

# Diretórios de build
/build/
/target/
/out/

# Arquivos de pacotes
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Arquivos de configuração de IDEs
/.idea/
/*.iml
*.ipr
*.iws
/.vscode/
/*.sublime-workspace
/*.sublime-project

# BlueJ
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Crash logs da JVM
hs_err_pid*
replay_pid*

# Arquivos de ambiente
.env
.env.*

# Diretórios do sistema operacional
.DS_Store
Thumbs.db

# Arquivos de dependências
/node_modules/